<!-- Mostrar el mensaje de aviso en verde -->
<p style="color: green;"><%= notice %></p>


<br/>

<!-- Título de la sección -->
<h1>Publications</h1>
<br/>

<!-- Contenedor para listar las publicaciones -->
<div class="container">
  <div id="publications">
    <!-- Iterar a través de todas las publicaciones -->
    <% @publications.each do |publication| %>
      <!-- Renderizar una vista parcial para cada publicación -->
      <%= render publication %>
      <br/>
      <p>
        <!-- Enlace para mostrar los detalles de cada publicación -->
        <%= link_to "Show this publication", publication %>
      </p>
      <br/>
    <% end %>
  </div>
</div>
