<nav class="navbar bg-light ">
  <div class="container-fluid d-block">
  <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 d-block">
  <li>
  <div class="container">
   <h6>TheRialNews</h6>
<br />
<p > “TheRialNews” es un sitio de noticias
    satírica que informa a sus usuarios de actualidad. Buscamos que la plataforma sea
    un lugar abierto, donde la libertad de expresión sea respetada hasta que afecta la libertad de otro.</p>

<p >Esperemos que te informes y pases un rato agradable</p>
     </div>
    </li>
    
      <li class="nav-item">
        <a class="nav-link active d-inline" aria-current="page" href="/home"><i class="fa-solid fa-house d-inline">
          </i>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-inline" href="#"> <i class="fa-solid fa-magnifying-glass d-inline"> </i>Explorer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-inline" href="#"><i class="fa-regular fa-bell d-inline"> </i>Notifications</a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-inline" href="#"><i class="fa-regular fa-envelope d-inline"> </i>Messages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-inline" href="#"><i class="fa-regular fa-rectangle-list d-inline"> </i>List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-inline" href="#"><i class="fa-regular fa-badge-check d-inline"> </i>Verified</a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-inline" href="#"><i class="fa-regular fa-user d-inline"> </i> Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-inline" href="#"><i class="fa-regular fa-cowbell-circle-plus d-inline"></i>More</a>
      </li>
      
    </ul>

  </div>
</nav>