<h1>TheRialNews</h1>
<br />
<p> “TheRialNews” es un sitio de noticias
    satírica que informa a sus usuarios de actualidad. Buscamos que la plataforma sea
    un lugar abierto, donde la libertad de expresión sea respetada hasta que afecta la libertad de otro.</p>

<p>Esperemos que te informes y pases un rato agradable</p>